In [1]:
import pandas

In [2]:
dataset=pandas.read_csv("amazon_alexa.tsv",delimiter="\t")

In [3]:
dataset["variation"].value_counts()

variation
Black  Dot                      516
Charcoal Fabric                 430
Configuration: Fire TV Stick    350
Black  Plus                     270
Black  Show                     265
Black                           261
Black  Spot                     241
White  Dot                      184
Heather Gray Fabric             157
White  Spot                     109
White                            91
Sandstone Fabric                 90
White  Show                      85
White  Plus                      78
Oak Finish                       14
Walnut Finish                     9
Name: count, dtype: int64

In [4]:
dataset

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [5]:
dataset["verified_reviews"]

0                                           Love my Echo!
1                                               Loved it!
2       Sometimes while playing a game, you can answer...
3       I have had a lot of fun with this thing. My 4 ...
4                                                   Music
                              ...
3145    Perfect for kids, adults and everyone in betwe...
3146    Listening to music, searching locations, check...
3147    I do love these things, i have them running my...
3148    Only complaint I have is that the sound qualit...
3149                                                 Good
Name: verified_reviews, Length: 3150, dtype: object

In [6]:
dataset['Length']=dataset["verified_reviews"].apply(len)

TypeError: object of type 'float' has no len()

In [7]:
dataset.describe(include="object")

             date   variation verified_reviews
count        3150        3150             3149
unique         77          16             2300
top     30-Jul-18  Black  Dot
freq         1603         516               79

In [8]:
from textblob import TextBlob

In [9]:
mysen=TextBlob("Love my echo!")

In [10]:
mysen.sentiment

Sentiment(polarity=0.625, subjectivity=0.6)

In [11]:
def get_sent(text):
    if isinstance(text, str):
        mytext=TextBlob(text)
        mysent=mytext.sentiment
        return mysent.polarity
    else:
        print(text)
        text=str(text)
        mytext=TextBlob(text)
        mysent=mytext.sentiment
        return mysent.polarity

In [12]:
get_sent("Configuration: Fire TV Stick")

0.0

In [13]:
dataset["polarity"]=dataset["verified_reviews"].apply(get_sent)

nan

In [14]:
dataset

,rating,date,variation,verified_reviews,feedback,polarity
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,0.625000
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,0.875000
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,-0.100000
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,0.350000
4,5,31-Jul-18,Charcoal Fabric,Music,1,0.000000
...,...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1,1.000000
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1,0.333333
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1,0.237662
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1,0.316667
3149,4,29-Jul-18,Black Dot,Good,1,0.700000

In [15]:
def get_sent_sub(text):
    if isinstance(text, str):
        mytext=TextBlob(text)
        mysent=mytext.sentiment
        return mysent.subjectivity
    else:
        print(text)
        text=str(text)
        mytext=TextBlob(text)
        mysent=mytext.sentiment
        return mysent.subjectivity

In [16]:
dataset["subjectivity"]=dataset["verified_reviews"].apply(get_sent_sub)

nan

In [17]:
dataset

,rating,date,variation,verified_reviews,feedback,polarity,subjectivity
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,0.625000,0.600000
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,0.875000,0.800000
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,-0.100000,0.512500
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,0.350000,0.450000
4,5,31-Jul-18,Charcoal Fabric,Music,1,0.000000,0.000000
...,...,...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1,1.000000,1.000000
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1,0.333333,0.452381
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1,0.237662,0.533766
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1,0.316667,0.632099
3149,4,29-Jul-18,Black Dot,Good,1,0.700000,0.600000

In [19]:
dataset[["polarity",'subjectivity']]

      polarity  subjectivity
0     0.625000      0.600000
1     0.875000      0.800000
2    -0.100000      0.512500
3     0.350000      0.450000
4     0.000000      0.000000
...        ...           ...
3145  1.000000      1.000000
3146  0.333333      0.452381
3147  0.237662      0.533766
3148  0.316667      0.632099
3149  0.700000      0.600000

[3150 rows x 2 columns]

In [20]:
dataset[["polarity",'subjectivity']].describe()

          polarity  subjectivity
count  3150.000000   3150.000000
mean      0.349786      0.528988
std       0.303308      0.256261
min      -1.000000      0.000000
25%       0.123852      0.419196
50%       0.350000      0.584848
75%       0.533333      0.694444
max       1.000000      1.000000